# Build files
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll
*.log
*.json

# Testing data, not mine
/testing/stockfish/
/testing/testing_data/
/build/
/bin/
/out/
/pieces/
/.cache/
private.h

# IDE junk
.vscode/
*.code-workspace
.idea/
*.suo
*.vcxproj*
*.DS_Store

# Clang-tidy script by LLVM
run-clang-tidy.py